
    <li class="dropdown active">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
         aria-haspopup="true" aria-expanded="false" >项目{% if request.tracer.project %}({{ request.tracer.project.name }}){% endif %} <span class="caret"></span></a>

      <ul class="dropdown-menu">
        {% if my %}
            <li><a href="#">我创建的项目:</a></li>
          {% for item in my %}
              <li><a href="{% url 'dashboard' project_id=item.id %}">{{ item.name }}</a></li>
          {% endfor %}
          <li role="separator" class="divider"></li>
        {% endif %}
        {% if join %}
            <li><a href="#">我参加的项目:</a></li>
          {% for item in join %}
              <li><a href="{% url 'dashboard' project_id=item.project.id %}">{{ item.project.name }}</a></li>
          {% endfor %}
          <li role="separator" class="divider"></li>
        {% endif %}
          <li><a href="{% url 'project_list' %}">全部列表</a></li>
      </ul>

    </li>
